<div class="container">
<h3>用户管理</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>姓名</th>
      <th>删除</th>
      <th>修改</th>
      <th>查看</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
        <td>{{ user.username }}</td>
      <td>
        <button class="btn" ng-click="deleteUser(user)">
          <span class="glyphicon glyphicon-pencil"></span>删除
        </button>
      </td>  
      <td>
        <button class="btn" ng-click="editUser($event,user)">
          <span class="glyphicon glyphicon-pencil"></span>修改
        </button>
      </td>  
      <td>
        <button class="btn" ng-click="checkUser(user)">
          <span class="glyphicon glyphicon-pencil"></span>查看
        </button>
      </td>   
    </tr>
  </tbody>
</table>
<div  ng-show="isShow1"  style="position: absolute;border:2px solid;height: 100px ;background-color: whitesmoke" id="dialog">
  用户名<input ng-model="currentEditUser.username"></input><br>
    密码<input ng-model="currentEditUser.pass"></input><br>
    性别<input ng-model="currentEditUser.sex"></input><br>
出生日期<input ng-model="currentEditUser.birth" type="date"></input><br>
  <button ng-click="saveUser()">save</button>
</div>
<div ng-show="isShow2" style="position: absolute;border:2px solid;height: 30px;background-color: whitesmoke;" id="dialog">
  用户名:{{currentEditUser.username}} 密码:{{currentEditUser.pass}} 性别:{{currentEditUser.sex}}

  <button ng-click="hide()">确定</button>
</div>